docker_sql/.ipynb_checkpoints/
docker_sql/ny_taxi_postgres_data/
postgres-pgadmin/postgres-mount/
*.csv
*.parquet
.idea/
.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
.env